a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

svg {
  display: block;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.page__container {
  padding: 200px;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 375px) {
  .section {
    margin-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .section {
    margin-bottom: 100px;
  }
}

.section_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
  color: #181818;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .section_title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .section_title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 375px) {
  .button {
    display: none;
  }
}
@media (min-width: 1440px) {
  .button {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    color: #F5F7FA;
    padding: 10px 16px;
    border: 1px solid #E5E0D6;
    border-radius: 4px;
  }
}

.button_link {
  height: 44px;
  color: #232D3F;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .button_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .button_link {
    justify-content: center;
    gap: 8px;
  }
}
.button_link:hover {
  font-weight: 600;
}

.langSwitcher_list {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 8px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #F5F7FA;
  background-image: url("/public/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .nav_list {
    flex-direction: row;
  }
}

.nav_item {
  padding: 10px 16px;
  cursor: pointer;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #F5F7FA;
}

.navLink--active {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #F5F7FA;
}

.socMedia_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 375px) {
  .socMedia_list {
    gap: 8px;
  }
}
@media (min-width: 1440px) {
  .socMedia_list {
    gap: 24px;
    margin-left: 370px;
  }
}

@media screen and (min-width: 375px) {
  .desktop_img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .desktop_img {
    display: block;
  }
}

@media (min-width: 1440px) {
  .mobile_img {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .slider_container {
    display: block;
  }
}
@media (min-width: 1440px) {
  .slider_container {
    display: none;
  }
}

.slider_item--active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.slider_item {
  display: none;
}

.slider_img {
  width: 334px;
  height: 424px;
  border-radius: 16px;
}

.sliderLabel_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.slider_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #181818;
}

.slider_buttons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 8px 80px 8px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header--color {
  background-color: #292D3F;
}

@media screen and (min-width: 375px) {
  .header_wrapp {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header_wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 194px;
    margin-left: 194px;
  }
}

@media screen and (min-width: 375px) {
  .header_wrapp.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background-color: #292D3F;
    position: absolute;
    top: 56px;
    left: 206px;
    z-index: 1;
  }
}

.mobileIcon_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (min-width: 1440px) {
  .mobileIcon_wrapp {
    display: none;
  }
}

.phone_icon {
  border: 1px solid #E5E0D6;
  border-radius: 4px;
  padding: 8px;
}

.close_icon {
  display: flex;
}

.menu_icon {
  display: none;
}

.section_about {
  position: relative;
}
@media screen and (min-width: 375px) {
  .section_about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .section_about {
    gap: 0;
  }
}

.about_list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .about_list {
    align-items: flex-start;
    position: absolute;
    top: 85px;
    left: 515px;
  }
}

.about_item {
  color: #181818;
}
@media screen and (min-width: 375px) {
  .about_item {
    font-weight: 400;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0;
  }
}
@media (min-width: 1440px) {
  .about_item {
    font-weight: 300;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .about_item:nth-child(1) {
    font-size: 32px;
    margin-right: 90px;
  }
}

@media screen and (min-width: 375px) {
  .about_item:nth-child(2) {
    margin-right: 116px;
  }
}
@media (min-width: 1440px) {
  .about_item:nth-child(2) {
    margin-left: 108px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_item:nth-child(3) {
    font-size: 48px;
    font-weight: 300;
  }
}
@media (min-width: 1440px) {
  .about_item:nth-child(3) {
    margin-left: 217px;
  }
}

@media screen and (min-width: 375px) {
  .about_photolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .about_photolist {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 375px) {
  .photolist_item:last-child {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .photolist_item:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 360px;
  }
}

.photolist_img {
  border-radius: 16px;
}
@media screen and (min-width: 375px) {
  .photolist_img {
    width: 343px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .photolist_img {
    width: 410px;
    height: auto;
  }
}

.about_textwrapp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1440px) {
  .about_textwrapp {
    justify-content: center;
    align-items: flex-end;
  }
}

.about_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #181818;
}

.hero {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 375px) {
  .hero {
    width: 375px;
    top: -56px;
  }
}
@media (min-width: 1440px) {
  .hero {
    width: 1440px;
    top: -96px;
  }
}

.hero_videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_videoWrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_videoWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(24, 24, 24, 0.4784313725);
  pointer-events: none;
}

@media screen and (min-width: 375px) {
  .hero_titleWrap {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .hero_titleWrap {
    top: 375px;
    gap: 40px;
  }
}

@media screen and (min-width: 375px) {
  .hero_title {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #F5F7FA;
    font-family: var(--font-markScript);
    padding: 0 16px 0 16px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .hero_title {
    padding: 0;
    font-size: 56px;
  }
}

.footer {
  position: relative;
  background-color: #292D3F;
  color: #E5E0D6;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .footer {
    padding-top: 112px;
    padding-bottom: 24px;
    flex-direction: column;
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
  }
}

.footer_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: var(--font-openSans);
  text-align: center;
}
@media (min-width: 1440px) {
  .footer_title {
    font-size: 30px;
    text-align: left;
    line-height: 100%;
  }
}

@media screen and (min-width: 375px) {
  .footer_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .footer_text {
    text-align: start;
  }
}

.footer_wrap {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .footer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .footer_wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
  }
}

.footer_navWrap {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .footer_navWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .footer_navWrap {
    flex-direction: row;
  }
}

.footer_form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 69px;
}

.form_label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  color: #F5F7FA;
  position: absolute;
  top: 0;
  left: 0;
}

.form_input {
  padding: 10px 16px;
  border: 1px, solid, #F5F7FA;
  border-radius: 4px 0px 0px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #6C6C6C;
}

.form_btn {
  width: 111px;
  height: 44px;
  padding: 10px 16px;
  background-color: transparent;
  color: #E5E0D6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  border: 1px, solid, #F5F7FA;
  border-radius: 0px 4px 4px 0px;
}

@media screen and (min-width: 375px) {
  .footer_logo {
    position: absolute;
    top: 24px;
    left: 120px;
  }
}
@media (min-width: 1440px) {
  .footer_logo {
    margin-right: 18px;
    position: static;
  }
}

@media screen and (min-width: 375px) {
  .aboutUs_section {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .aboutUs_section {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.aboutUs_list {
  position: relative;
}
@media screen and (min-width: 375px) {
  .aboutUs_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .aboutUs_list {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 132px;
  }
}

.aboutUs_item {
  white-space: pre-line;
}
@media screen and (min-width: 375px) {
  .aboutUs_item {
    width: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .aboutUs_item {
    flex-direction: row;
    align-items: flex-start;
  }
}

.aboutUs_img {
  border-radius: 16px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .aboutUs_img {
    height: 304px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 375px) {
  .aboutUs_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: start;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .aboutUs_text {
    width: initial;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(1) {
    width: 100%;
    order: 1;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(1) .aboutUs_img {
    width: 628px;
    height: 630px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(2) {
    width: 628px;
    margin-top: 40px;
    order: 3;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(2) .aboutUs_img {
    height: 401px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(2) .aboutUs_text {
    position: absolute;
    top: 112px;
    left: 652px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(3) {
    width: 628px;
    margin-top: 78px;
    margin-right: 109px;
    order: 5;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(3) .aboutUs_img {
    height: 588px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(3) .aboutUs_text {
    position: absolute;
    top: 224px;
    left: 652px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(4) {
    width: 410px;
    margin-left: 109px;
    margin-top: 200px;
    order: 2;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(4) .aboutUs_img {
    height: 263px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(4) .aboutUs_text {
    position: absolute;
    top: 336px;
    left: 652px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(5) {
    width: 411px;
    margin-top: 100px;
    order: 4;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(5) .aboutUs_img {
    height: 649px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(5) .aboutUs_text {
    position: absolute;
    top: 384px;
    left: 652px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(6) {
    width: 410px;
    margin-top: 100px;
    margin-left: 109px;
    order: 6;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(6) .aboutUs_img {
    height: 263px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(6) .aboutUs_text {
    position: absolute;
    top: 448px;
    left: 652px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(7) {
    width: 411px;
    margin-top: 17px;
    margin-right: 109px;
    order: 7;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(7) .aboutUs_img {
    height: 649px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 1440px) {
  .aboutUs_item:nth-child(7) .aboutUs_text {
    position: absolute;
    top: 560px;
    left: 652px;
  }
}

.ourProjects_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 375px) {
  .ourProjects_section {
    margin-top: 40px;
    margin-bottom: 56px;
    gap: 56px;
  }
}
@media (min-width: 1440px) {
  .ourProjects_section {
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 140px;
  }
}

.ourProjects_text {
  font-family: var(--font-markScript);
  color: #181818;
}
@media screen and (min-width: 375px) {
  .ourProjects_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .ourProjects_text {
    padding-left: 217px;
    padding-right: 217px;
    font-size: 43px;
    letter-spacing: -2px;
    text-align: start;
  }
}

.ourProjects_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.ourProjects_item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .ourProjects_item {
    padding: 8px 14px 8px 16px;
  }
}
@media (min-width: 1440px) {
  .ourProjects_item {
    height: 82px;
    padding: 8px 21px 8px 16px;
  }
}

.ourProjects_item .button_link {
  font-family: var(--font-poppins);
  text-transform: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .ourProjects_item .button_link {
    width: calc(100% - 16px);
    height: 36px;
  }
}
@media (min-width: 1440px) {
  .ourProjects_item .button_link {
    font-weight: 400;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0;
    width: calc((100% - 8px) / 2);
  }
}
.ourProjects_item .button_link:hover {
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  .button_link img {
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 1440px) {
  .button_link img {
    height: auto;
    width: auto;
  }
}

.ourProjectsSection_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 375px) {
  .ourProjectsSection_list {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .ourProjectsSection_list {
    gap: 80px;
  }
}

.ourProjectsSection_item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 375px) {
  .ourProjectsSection_item {
    width: 343px;
  }
}
@media (min-width: 1440px) {
  .ourProjectsSection_item {
    width: 846px;
  }
}

.ourProjectsSection_img img {
  border-radius: 16px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .ourProjectsSection_img img {
    height: 432px;
  }
}
@media (min-width: 1440px) {
  .ourProjectsSection_img img {
    height: 500px;
  }
}

@media (min-width: 1440px) {
  .ourProjectsSection_item:nth-child(2n) {
    margin-left: 434px;
  }
}

@media (min-width: 1440px) {
  .ourProjectsSection_item:nth-child(2n+1) {
    margin-right: 434px;
  }
}

.ourProjectsSection_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #292D3F;
  border: 1px solid #292D3F;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  width: 112px;
}

@media screen and (min-width: 375px) {
  .ourServicesSection_section {
    display: none;
  }
}
@media (min-width: 1440px) {
  .ourServicesSection_section {
    display: block;
  }
}

.ourServicesSection_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.ourServicesSection_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.ourServices_img {
  width: 302px;
  height: 424px;
  border-radius: 16px;
}

.ourServices_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.ourServices_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #181818;
}/*# sourceMappingURL=globals.css.map */