a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

svg {
  display: block;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.page__container {
  padding: 200px;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 375px) {
  .section {
    margin-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .section {
    margin-bottom: 100px;
  }
}

.section_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
  color: #181818;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .section_title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .section_title {
    margin-bottom: 40px;
  }
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #F5F7FA;
  padding: 10px 16px;
  border: 1px solid #E5E0D6;
  border-radius: 4px;
}

.button_link {
  height: 44px;
  color: #232D3F;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .button_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .button_link {
    justify-content: center;
    gap: 8px;
  }
}
.button_link:hover {
  font-weight: 600;
}

.langSwitcher_list {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 8px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #F5F7FA;
  background-image: url("/public/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .nav_list {
    flex-direction: row;
  }
}

.nav_item {
  padding: 10px 16px;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #F5F7FA;
}

.navLink--active {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #F5F7FA;
}

.socMedia_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 375px) {
  .socMedia_list {
    gap: 8px;
  }
}
@media (min-width: 1440px) {
  .socMedia_list {
    gap: 24px;
    margin-left: 370px;
  }
}

@media screen and (min-width: 375px) {
  .desktop_img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .desktop_img {
    display: block;
  }
}

@media (min-width: 1440px) {
  .mobile_img {
    display: none;
  }
}

.header {
  background-color: #292D3F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 194px;
}

.header--home {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 194px;
}

.header_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.section_about {
  position: relative;
}
@media screen and (min-width: 375px) {
  .section_about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .section_about {
    gap: 0;
  }
}

.about_list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .about_list {
    align-items: flex-start;
    position: absolute;
    top: 85px;
    left: 515px;
  }
}

.about_item {
  color: #181818;
}
@media screen and (min-width: 375px) {
  .about_item {
    font-weight: 300;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0;
  }
}
@media (min-width: 1440px) {
  .about_item {
    font-weight: 300;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .about_item:nth-child(1) {
    font-size: 32px;
    font-weight: 300;
    margin-right: 90px;
  }
}

@media screen and (min-width: 375px) {
  .about_item:nth-child(2) {
    margin-right: 116px;
  }
}
@media (min-width: 1440px) {
  .about_item:nth-child(2) {
    margin-left: 108px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_item:nth-child(3) {
    font-size: 48px;
  }
}
@media (min-width: 1440px) {
  .about_item:nth-child(3) {
    margin-left: 217px;
  }
}

@media screen and (min-width: 375px) {
  .about_photolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .about_photolist {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 375px) {
  .photolist_item:last-child {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .photolist_item:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 360px;
  }
}

.photolist_img {
  border-radius: 16px;
}
@media screen and (min-width: 375px) {
  .photolist_img {
    width: 343px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .photolist_img {
    width: 410px;
    height: auto;
  }
}

.about_textwrapp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1440px) {
  .about_textwrapp {
    justify-content: center;
    align-items: flex-end;
  }
}

.about_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #181818;
}

.footer {
  position: relative;
  background-color: #292D3F;
  color: #E5E0D6;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .footer {
    padding-top: 112px;
    padding-bottom: 24px;
    flex-direction: column;
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
  }
}

.footer_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: var(--font-openSans);
  text-align: center;
}
@media (min-width: 1440px) {
  .footer_title {
    font-size: 30px;
    text-align: left;
    line-height: 100%;
  }
}

@media screen and (min-width: 375px) {
  .footer_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .footer_text {
    text-align: start;
  }
}

.footer_wrap {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .footer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .footer_wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
  }
}

.footer_navWrap {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .footer_navWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .footer_navWrap {
    flex-direction: row;
  }
}

.footer_form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 69px;
}

.form_label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  color: #F5F7FA;
  position: absolute;
  top: 0;
  left: 0;
}

.form_input {
  padding: 10px 16px;
  border: 1px, solid, #F5F7FA;
  border-radius: 4px 0px 0px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #6C6C6C;
}

.form_btn {
  width: 111px;
  height: 44px;
  padding: 10px 16px;
  background-color: transparent;
  color: #E5E0D6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  border: 1px, solid, #F5F7FA;
  border-radius: 0px 4px 4px 0px;
}

@media screen and (min-width: 375px) {
  .footer_logo {
    position: absolute;
    top: 24px;
    left: 120px;
  }
}
@media (min-width: 1440px) {
  .footer_logo {
    margin-right: 18px;
    position: static;
  }
}/*# sourceMappingURL=globals.css.map */