.button {
  @include font(400, 16px, 150%,0); 
  color: $white;
  padding: 10px 16px;
  border:  1px solid $light_biege;
  border-radius: 4px;
}

.button_link {
  height: 44px;

  color: $primary_black;
  @include font(500, 16px, 150%, 0);
  text-transform: uppercase;

  @include mq(mobile) {
    @include flex(flex, space-between, center);
  }

  @include mq(desktop) {
    justify-content: center;
    gap: 8px;
  }

  &:hover {
    font-weight: 600;
  }
}
