.about_list {
  @include flex(flex, center, flex-end);
  flex-direction: column;

  @include mq(desktop) {
    align-items: flex-start;
  }
}

.about_item {
  @include mq(mobile) {
    @include font(300, 44px, 150%, 0);
  }

  @include mq(desktop) {
    @include font(300, 80px, 120%, 0);
  }

  color: $black;
}

.about_item:nth-child(1) {
  @include mq(mobile-only) {
    font-size: 32px;
    font-weight: 300;
    margin-right: 90px;
  }
}

.about_item:nth-child(2) {
  @include mq(mobile) {
    margin-right: 116px;
  }

  @include mq(desktop) {
    margin-left: 108px;
  }
}

.about_item:nth-child(3) {
  @include mq(mobile-only) {
    font-size: 48px;
  }
  @include mq(desktop) {
    margin-left: 217px;
  }
}

.about_phptolist {
  @include mq(mobile) {
    @include flex(flex, center, center);
    flex-direction: column;
    gap: 40px;
  }

  @include mq(desktop) {
    flex-direction: row;
    gap: 24px;
  }
}

.about_text {
  @include font(400, 16px, 150%, 0);
  color: $black;
}
