.footer {
  position: relative;

  background-color: $primary;
  color: $light_biege;

  @include flex(flex, center, center);

  @include mq(mobile) {
    padding-top: 112px;
    padding-bottom: 24px;
    flex-direction: column;
    gap: 32px;
  }

  @include mq(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;

    gap: 40px;
  }
}

.footer_title {
  @include font(700, 20px, 150%, 0);
  text-transform: uppercase;
  font-family: var(--font-openSans);
  text-align: center;

  @include mq(desktop) {
    font-size: 30px;
    text-align: left;
    line-height: 100%;
  }
}

.footer_text {
  @include mq(mobile) {
    @include font(400, 16px, 150%, 0);
    text-align: center;
  }

  @include mq(desktop) {
    text-align: start;
  }
}

.footer_wrap {
  width: 100%;

  @include mq(mobile) {
    @include flex(flex, center, center);
    flex-direction: column;

    gap: 16px;
  }
  @include mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
  }
}

.footer_navWrap {
  width: 100%;

  @include mq(mobile) {
    @include flex(flex, flex-start, center);
    flex-direction: column;
  }
  @include mq(desktop) {
    flex-direction: row;
  }
}

.footer_form {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: 4px;

  @include font(400, 16px, 150%, 0);
 }

.form_label {
  @include font(400, 14px, 150%, 0);
  color: $white;
}

.form_inputsWrap {
  @include flex(flex, center, center);
  flex-direction: row;
  height: 44px;
}

.form_input {
  padding: 10px 16px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: $white;
  border-radius: 4px 0px 0px 4px;

  @include font(400, 16px, 150%, 0);
  color: $disabled;
}

.form_btn {
  width: 111px;
  padding: 10px 16px;

  background-color: transparent;
  color: $light_biege;
  @include font(400, 16px, 150%, 0);

  border: 1px, solid, $white;
  border-radius: 0px 4px 4px 0px;
}

.footer_logo {
  @include mq(mobile) {
    position: absolute;
    top: 24px;
    left: 120px;
  }

  @include mq(desktop) {
    margin-right: 18px;
    position: static;
  }
}
