.header {
  background-color: $primary;

  @include flex(flex, center, center);
  gap: 194px;
}

.header--home {
  @include flex(flex, center, center);
  gap: 194px;
}

.header_wrapp {
  @include flex(flex, center, center);
  gap: 16px;
}
