.header {
  @include mq(mobile) {
    @include flex(flex, space-between, center);

    position: relative;
  }
  @include mq(desktop) {
    padding: 8px 80px 8px 80px;

    @include flex(flex, space-between, center);
  }
}

.header--color {
  background-color: $primary;
}

.header_wrapp {

  @include mq(mobile) {
    display: none;
  }

  @include mq(desktop) {
    @include flex(flex, center, center);
    gap: 194px;
    margin-left: 194px;
  }
}

.header_wrapp.open {
  @include mq(mobile) {
 @include flex(flex, center, center);
  flex-direction: column;
  padding: 16px;
  background-color: $primary;

  position: absolute;
  top: 56px;
  left: 206px;
  z-index: 1;
  }
 
}

.mobileIcon_wrapp {
  @include flex(flex, center, center);
  gap: 16px;

  @include mq(desktop) {
    display: none;
  }
}

.phone_icon {
  border: 1px solid $light_biege;
  border-radius: 4px;
  padding: 8px;
}

.close_icon{
display: flex;
}

.menu_icon{
  display: none;
}

// .header_nav {
//  background-color: $primary;
  
// }
