.hero {
  @include flex(flex, center, center);
  flex-direction: column;

  margin: 0 auto;
  position: relative;

  @include mq(mobile) {
    width: 375px;
    height: 812px;
  }

  @include mq(desktop) {
    width: 1440px;
    height: 1024px;
  }
}

.hero_titleWrap {
  position: absolute;
  top: 517px;

  @include flex(flex, center, center);
  flex-direction: column;
}

.hero_title {
  color: $white;
  @include font(400, 56px, 120%, 0);
  font-family: var(--font-markScript);
}
