.hero {
  position: absolute;
  top: -80px;
  z-index: -1;

  @include flex(flex, center, center);
  flex-direction: column;

  margin: 0 auto;
  position: relative;

  @include mq(mobile) {
    width: 375px;
  }

  @include mq(desktop) {
    width: 1440px;
  }
}

.hero_videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_videoWrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_videoWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1818187a;
  pointer-events: none;
}

.hero_titleWrap {
  position: absolute;
  // top: 517px;
  top: 375px;

  @include flex(flex, center, center);
  flex-direction: column;
}

.hero_title {
  color: $white;
  @include font(400, 56px, 120%, 0);
  font-family: var(--font-markScript);
}

// .hero_video {
//   background-color: #1818187A;
// }
