.hero {
  position: absolute;

  z-index: -1;

  @include flex(flex, center, center);
  flex-direction: column;

  margin: 0 auto;
  position: relative;

  @include mq(mobile) {
    width: 375px;

    top: -56px;
  }

  @include mq(desktop) {
    width: 1440px;
    // height: 1024px;

    top: -96px;
  }
}

.hero_videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  // height: 1024px;
  overflow: hidden;
}

// .hero_videoWrapper mux-video {
//   width: 100%;
//   // height: 100%;
//   height: 1024px;
//   object-fit: cover;
// }

// .hero_video{
//   width: 100%;
//   height: 100%;
//   // height: 1024px;
//   object-fit: cover;
// }

.hero_videoWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1818187a;
  pointer-events: none;
}

.hero_titleWrap {
  @include mq(mobile) {
    position: absolute;
    // top: 168px;
    top: 50px;
    

    @include flex(flex, center, center);
    flex-direction: column;
    // gap: 24px;
  }
  @include mq(desktop) {
    // top: 517px;
    top: 375px;
    gap: 40px;
  }
}

.hero_title {
  @include mq(mobile) {
    @include font(400, 28px, 120%, -1px);
    color: $white;
    font-family: var(--font-markScript);
    padding: 0 16px 0 16px;
    text-align: center;
  }

  @include mq(desktop) {
    padding: 0;
    font-size: 56px;
  }
}
