.ourProjects_section {
  @include flex(flex, center, center);
  flex-direction: column;

  @include mq(mobile) {
    margin-top: 40px;
    margin-bottom: 56px;

    gap: 56px;
  }

  @include mq(desktop) {
    margin-top: 100px;
    margin-bottom: 100px;

    gap: 140px;
  }
}

.ourProjects_text {
  font-family: var(--font-markScript);
  color: $black;

  @include mq(mobile) {
    @include font(400, 24px, 120%, 0);
    text-align: center;
  }

  @include mq(desktop) {
    padding-left: 217px;
    padding-right: 217px;
    font-size: 43px;
    letter-spacing: -2px;
    text-align: start;
  }
}

.ourProjects_list {
  width: 100%;

  @include flex(flex, flex-start, flex-start);
  flex-direction: column;
  gap: 8px;
}

.ourProjects_item {
  width: 100%;
  @include flex(flex, flex-start, center);

  @include mq(mobile) {
    padding: 8px 14px 8px 16px;
  }
  @include mq(desktop) {
    height: 82px;
    padding: 8px 21px 8px 16px;
  }
}

.ourProjects_item .button_link {
  font-family: var(--font-poppins);
  text-transform: none;

  @include flex(flex, space-between, center);
  @include mq(mobile) {
    width: calc(100% - 16px);
    height: 36px;
  }

  @include mq(desktop) {
    @include font(400, 44px, 150%, 0);
    width: calc((100% - 8px) / 2);
  }
  &:hover {
    font-weight: 600;
  }
}

.button_link img {
  @include mq(mobile) {
    height: 24px;
    width: 24px;
  }
  @include mq(desktop) {
    height:auto;
    width: auto;
  }
}
